# Secrets
secrets/
.env

# Output
output/
*.pdf
lomo_mixam_*.png

# Bases de datos locales y datos privados de desarrollo
instance/
*.sqlite
*.sqlite3

# Entorno virtual local
.venv/

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db
